/* key value */

.gbln-keyvalue {
  margin: 6px 0;
  display: flex;
  align-content: center;
  align-items: center;
  vertical-align: middle;
}

.gbln-keyvalue > span {
  display: inline-block;
  min-width: 100px;
}

.gbln-keyvalue > div {
  font-weight: bold;
  padding: 0 6px;
}