:root{
/* media */
  --xs: 800px;
  --sm: 1000px;
  --md: 1400px;
  --lg: 1800px;

/* colors */
  --card-bg: #ffffff60;
  --panel-bg: hsla(180, 10%, 30%, 60%);
  /* alpha black */
  --ab1: #00000006;
  --ab2: #00000012;
  --ab3: #00000018;
  --ab4: #00000024;
  --ab5: #00000030;
  /* alpha white */
  --aw1: #ffffff06;
  --aw2: #ffffff12;
  --aw3: #ffffff18;
  --aw4: #ffffff24;
  --aw5: #ffffff30;
  --aw6: #ffffff36;
  --aw7: #ffffff42;
  --aw8: #ffffff48;
  --aw9: #ffffff54;
  --aw10: #ffffff60;
  --aw11: #ffffff66;
  --aw12: #ffffff72;
  --aw13: #ffffff78;
  --aw14: #ffffff84;
  --aw15: #ffffff90;
}

.gl-scene_mobile, .gl-scene_mobile_pro{
  transition: .3s;
}

@media screen and (min-width: 1000px){
  .gl-scene_mobile{
    padding: 2.5% 5%;
    overflow-y: auto;
    max-height: 95%;
  }
  .gl-scene_mobile_pro{
    padding: 2.5% 5%;
    overflow-y: auto;
    max-height: 95%;
  }
}

@media screen and (min-width: 1400px){
  .gl-scene_mobile{
    padding: 2.5% 10%;
    overflow-y: auto;
    max-height: 95%;
  }
  .gl-scene_mobile_pro{
    padding: 5% 20%;
    overflow-y: auto;
    max-height: 90%;
  }
}

/* Utils */

.align{
  display: flex;
  align-items: center;
}

.right{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.hidden{
  display: none !important;
}

.space-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pad{
  padding: 6px;
}

.pad_thick{
  padding: 12px;
}

/* gl-panel */

.gl-panel{
  background-color: var(--panel-bg);
  padding: 6px;
  border-radius: 6px;
  margin: 6px;
  box-shadow: inset 0 0 6px var(--ab5);
}

.gl-panel_header{
  background-color: var(--aw5);
  font-size: 1.2rem;
  padding: 6px 12px;
  margin: -6px -6px 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom: 1px solid var(--ab1);
}

.gl-panel > .gl-panel .gl-panel_header {
  font-size: 1.05rem;
  padding: 3px 6px;
}

/* gl-card */

.gl-card{
  background-color: var(--card-bg);
  padding: 6px;
  border-radius: 6px;
  margin: 6px;
  box-shadow: inset 0 0 6px var(--ab5);
}

.gl-card_header{
  font-size: 1.2rem;
  padding: 6px;
}

/* gl-label */

.gl-label{
  display: block;
  margin: 6px 0;
}

.gl-label span{
  display: block;
  padding-left: 5px;
}

.gl-label input{
  display: block;
  border-radius: 6px;
  border: none;
  box-shadow: 3px 5px 5px var(--aw3), 3px -5px -5px var(--aw1);
  padding: 6px;
  font-weight: bold;
  font-size: 1em;
  box-sizing: border-box;
  background-color: var(--aw15);
}

.gl-label select{
  display: block;
  border-radius: 6px;
  border: none;
  box-shadow: 3px 5px 5px var(--aw3), 3px -5px -5px var(--aw1);
  padding: 6px;
  font-weight: bold;
  font-size: 1em;
  box-sizing: border-box;
  background-color: var(--ab5);
}


@media screen and (min-width: 800px){ /* desktop */
  .gl-label{
    max-width: 260px;
  }
  
  .gl-label input{
    min-width: 260px;
  }

  .gl-label select{
    min-width: 260px;
  }
}

@media screen and (max-width: 1000px){ /* mobile */
  
  .gl-label input{  
    width: 100%;
  }

  .gl-label select{
    width: 100%;
  }
}


/* gl-btn_icon */

.gl-btn_icon {
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  background: var(--aw5);
  box-shadow: inset 0 0 6px var(--ab1), 0 3px 5px var(--ab5);
  border-radius: 6px;
  padding: 3px 12px;
  margin: 3px;
  display: inline-flex;
  align-content: center;
  align-items: center;
  vertical-align: middle;
}